body {
  background-color: antiquewhite;
}

h1,
p {
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
}

p {
  font-size: 20px;
  margin-top: 90px;
}

small {
  font-size: 17px;
}

small,
h1,
p,
.key {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-align: center;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px ridge #999;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-top: 10px;
  height: 65px;
  width: 170px;
  font-weight: bold;
  font-size: 18px;
}
